<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.joaopaulosj.vanhackathon2019">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="br.com.joaopaulosj.vanhackathon2019.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="${appName}"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- FIREBASE MESSAGING -->
        <service android:name="br.com.joaopaulosj.vanhackathon2019.data.remote.firebase.FbInstaceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name="br.com.joaopaulosj.vanhackathon2019.data.remote.firebase.FirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!-- TODO CHANGE ICON TO A NOTIFICATION ICON ACCORDING TO SPECIFICATIONS -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_launcher" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimary" />

        <!-- FILE PROVIDER -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/files_paths" />
        </provider>

        <!-- FABRIC -->
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="d9aa34977d8b9166187cc83674aea00089585509" />

        <!-- ACTIVITIES -->
        <activity
            android:name="br.com.joaopaulosj.vanhackathon2019.ui.splash.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="br.com.joaopaulosj.vanhackathon2019.ui.common.ExpandedPictureActivity" />
        <activity android:name="br.com.joaopaulosj.vanhackathon2019.ui.common.WebViewActivity" />
        <activity android:name="br.com.joaopaulosj.vanhackathon2019.ui.simplelist.SimpleListActivity" />
        <activity
            android:name="br.com.joaopaulosj.vanhackathon2019.ui.login.LoginActivity"
            android:exported="true" />
    </application>

</manifest>